main {
	max-width: 1000px;
	margin: 120px auto 60px;
	padding: 30px 20px;
	background-color: $colorBackground;
}

.loader {
	display: flex;
	justify-content: center;
	width: 100%;
	margin: 25px 0;

    img {
        display: block;
        height: 60px;
        width: 60px;
    }
}

#food-form {
	display: flex;
    flex-direction: column;
    align-items: center;

    input,
    select {
        width: 100%;
        max-width: 600px;
        height: 44px;
        margin-bottom: 30px;
        padding: 5px 10px;
        color: $colorFontBody;
        font-size: 16px;
        -webkit-appearance: none;
        border: solid 1px #ccc;
        border-radius: 0;
    }

    select {
        background-image: url('../img/arrow.png');
        background-size: 13px;
        background-repeat: no-repeat;
        background-position: right 15px center;
    }

    button {
        padding: 10px 25px;
        background-color: $colorSpan;
        border: none;
        text-transform: uppercase;
        font-size: 18px;
        color: $colorLight;
        cursor: pointer;
        transition: all .3s ease;
    }
    button:hover {
        opacity: .8;
    }
    button:disabled {
        opacity: .5;
        cursor: default;
    }
}

#recipes {
    display: flex;
    flex-wrap: wrap;

    .recipe-element {
        position: relative;
        width: 22%;
        margin-right: 4%;
        margin-bottom: 20px;

        &:nth-child(4n) {
            margin-right: 0;
        }

        h3 {
            font-size: 15px;
        }

        img {
            display: block;
            max-width: 100%;
        }

        .calories {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 10px;
            right: 10px;
            background: $colorElementBackground;
            color: $colorLight;
            border-radius: 100%;
            width: 40px;
            height: 40px;
            font-size: 12px;
        }

        .labels {
            display: flex;
            flex-wrap: wrap;

            .label {
                margin-block-start: 0;
                margin-block-end: 0;
                margin-right: 5px;
                margin-bottom: 5px;
                padding: 2px 5px;
                background: $colorLight;
                color: $colorSpan;
                border-radius: 4px;
                font-size: 11px;
                
            }
        }
    }
}