*::-webkit-input-placeholder { 
    text-transform: uppercase;
    color: #ccc;
}
  
  *::-moz-placeholder {
    text-transform: uppercase;
    color: #ccc;
}
  
  *:-ms-input-placeholder {
    text-transform: uppercase;
    color: #ccc;
}
  
  *:-moz-placeholder { 
    text-transform: uppercase;
    color: #ccc;
}