$colorHeadingsPrimary: #7aca25;
$colorFontBody: #667;
$colorSpan: orange;
$colorElementBackground: rgb(122, 202, 37);
$colorLight: #fff;
$colorBackground: rgba(255, 255, 255, .9);
$fontFamily: Helvetica, serif;